@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
  
}

.section-wrapper{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    background:linear-gradient(135deg, #111, #222, #111);

}
/* .section-wrapper::before{
    content: 'MILY';
    font-size:11.5rem;
    color:white;
    font-weight: bold;
    color:#ff1062;
    letter-spacing: 2px;
    opacity: 0;
    text-shadow: 0 0 0 1vw #222, 
                0 0 0 1.3vw #fff; 
     animation: first 1.9s linear 4.9s infinite forwards;
     transition: all 3s ease-in-out;            
} */

.name{
    font-size:11.5rem;
    color:white;
    font-weight: bold;
    color:#ff1062;
    letter-spacing: 2px;
    opacity: 0;
    text-shadow: 0 0 0 1vw #222, 
                0 0 0 1.3vw #fff; 
     animation: first 1.9s linear 4.9s infinite forwards;
     transition: all 3s ease-in-out;  
}
.heading-main{
    text-transform: capitalize;
    position:absolute;
    font-size: 9vw;
    color:#fff;
    text-align: center;
    line-height: 2em;
    z-index: 10;
    transform: skewY(-7deg);
    text-shadow: 1px 1px 0 #ccc,
    2px 2px 0 #ccc,
    3px 3px 0 #ccc,
    4px 4px 0 #ccc,
    5px 5px 0 #ccc,
    10px 10px 0 rgba(0,0,0,0.2);
    animation:floating 5s ease-in-out infinite;
}
.heading-main .year{
    font-weight: 700;
    font-size: 3em;
    text-shadow: 1px 1px 0 #ccc,
    2px 2px 0 #ccc,
    3px 3px 0 #ccc,
    4px 4px 0 #ccc,
    5px 5px 0 #ccc,
    6px 6px 0 #ccc,
    7px 7px 0 #ccc,
    8px 8px 0 #ccc,
    9px 9px 0 #ccc,
    20px 20px 0 rgba(0,0,0,0.2);
}

.happy{
   
    animation: first 2s linear 1.4s infinite forwards;
    transition: all 3s ease-in-out;
}
.new{
  animation: first 2s linear 1.7s infinite forwards;
  transition: all 3s ease-in-out;
}
.years{
    animation: first 2s linear 2s infinite forwards;
    transition: all 3s ease-in-out;
}
.year{
    animation: first 2s linear 3s infinite forwards;
    transition: all 3s ease-in-out;
}
@keyframes first{
    0%{
        opacity: 0;
    }
    
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes second{
    0%{
        opacity: 0;
    }
    
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes third{
    0%{
        opacity: 0;
    }
    
    100%{
        opacity: 1;
    }
}
@keyframes four{
    0%{
        opacity: 0;
    }
    
    100%{
        opacity: 1;
    }
}
@keyframes five{
    0%{
        opacity: 0;
    }
    
    100%{
        opacity: 1;
    }
}
section i{
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 80px #fff;
    animation: animate 2s linear infinite;
}
@keyframes animate{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes floating{
    0%,100%{
        transform: skewY(-7deg) translate(0, -150px);
    }
    50%{
        transform:  skewY(-7deg) translate(0, 130px);
    }
}
